### Importación de datos

In [4]:
import matplotlib.pyplot as plt
import pandas as pd

url = "https://raw.githubusercontent.com/alura-es-cursos/challenge1-data-science-latam/refs/heads/main/base-de-datos-challenge1-latam/tienda_1%20.csv"
url2 = "https://raw.githubusercontent.com/alura-es-cursos/challenge1-data-science-latam/refs/heads/main/base-de-datos-challenge1-latam/tienda_2.csv"
url3 = "https://raw.githubusercontent.com/alura-es-cursos/challenge1-data-science-latam/refs/heads/main/base-de-datos-challenge1-latam/tienda_3.csv"
url4 = "https://raw.githubusercontent.com/alura-es-cursos/challenge1-data-science-latam/refs/heads/main/base-de-datos-challenge1-latam/tienda_4.csv"

tienda = pd.read_csv(url)
tienda2 = pd.read_csv(url2)
tienda3 = pd.read_csv(url3)
tienda4 = pd.read_csv(url4)

tienda.head()

,Producto,Categoría del Producto,Precio,Costo de envío,Fecha de Compra,Vendedor,Lugar de Compra,Calificación,Método de pago,Cantidad de cuotas,lat,lon
0,Asistente virtual,Electrónicos,164300.0,6900.0,16/01/2021,Pedro Gomez,Bogotá,4,Tarjeta de crédito,8,4.60971,-74.08175
1,Mesa de comedor,Muebles,192300.0,8400.0,18/05/2022,Beatriz Morales,Medellín,1,Tarjeta de crédito,4,6.25184,-75.56359
2,Juego de mesa,Juguetes,209600.0,15900.0,15/03/2021,Juan Fernandez,Cartagena,1,Tarjeta de crédito,1,10.39972,-75.51444
3,Microondas,Electrodomésticos,757500.0,41000.0,03/05/2022,Juan Fernandez,Cali,4,Nequi,1,3.43722,-76.52250
4,Silla de oficina,Muebles,335200.0,20200.0,07/11/2020,Maria Alfonso,Medellín,5,Nequi,1,6.25184,-75.56359

#1. Análisis de facturación

In [ ]:
#calcular el ingreso total de cada tienda.
#Sumando los valores de la columna Precio de cada conjunto de datos de la tienda para estimar los ingresos.

#extrayendo de los dataframes la columna precio
precio_serie = tienda['Precio']
precio_serie2 = tienda2['Precio']
precio_serie3 = tienda3['Precio']
precio_serie4 = tienda4['Precio']
#usar la funcion sum() de pandas y imprimiendo resultados
print(f'Ingreso total de la tienda 1: {precio_serie.sum()}')
print(f'Ingreso total de la tienda 2: {precio_serie2.sum()}')
print(f'Ingreso total de la tienda 3: {precio_serie3.sum()}')
print(f'Ingreso total de la tienda 4: {precio_serie4.sum()}')

Ingreso total de la tienda 1: 1150880400.0
Ingreso total de la tienda 2: 1116343500.0
Ingreso total de la tienda 3: 1098019600.0
Ingreso total de la tienda 4: 1038375700.0

# 2. Ventas por categoría

In [ ]:
#Calcular la cantidad de productos vendidos por categoría en cada tienda.
#La idea es agrupar los datos por categoría y contar el número de ventas de cada tipo,
#mostrando las categorías más populares de cada tienda.

In [ ]:
#Extrayendo categorias por cada tienda
categoria_serie = tienda['Categoría del Producto']
categoria_serie2 = tienda2['Categoría del Producto']
categoria_serie3 = tienda3['Categoría del Producto']
categoria_serie4 = tienda4['Categoría del Producto']
#agrupando categorias
categoria_tienda = categoria_serie.value_counts()
categoria_tienda2 = categoria_serie2.value_counts()
categoria_tienda3 = categoria_serie3.value_counts()
categoria_tienda4 = categoria_serie4.value_counts()
#La función value_counts() en padas nos sirve para contar la frecuencia de valores
#únicos en una serie o columna de un Data-frame

#mostrando categorias populares por cada tienda
print(f'Categorias más populares de la tienda 1: \n{categoria_tienda}')
print(f'Categorias más populares de la tienda 2: \n{categoria_tienda2}')
print(f'Categorias más populares de la tienda 3: \n{categoria_tienda3}')
print(f'Categorias más populares de la tienda 4: \n{categoria_tienda4}')

Categorias más populares de la tienda 1:
Categoría del Producto
Muebles                    465
Electrónicos               448
Juguetes                   324
Electrodomésticos          312
Deportes y diversión       284
Instrumentos musicales     182
Libros                     173
Artículos para el hogar    171
Name: count, dtype: int64
Categorias más populares de la tienda 2:
Categoría del Producto
Muebles                    442
Electrónicos               422
Juguetes                   313
Electrodomésticos          305
Deportes y diversión       275
Instrumentos musicales     224
Libros                     197
Artículos para el hogar    181
Name: count, dtype: int64
Categorias más populares de la tienda 3:
Categoría del Producto
Muebles                    499
Electrónicos               451
Juguetes                   315
Electrodomésticos          278
Deportes y diversión       277
Libros                     185
Instrumentos musicales     177
Artículos para el hogar    177
Name: count, dtype: int64
Categorias más populares de la tienda 4:
Categoría del Producto
Muebles                    480
Electrónicos               451
Juguetes                   338
Deportes y diversión       277
Electrodomésticos          254
Artículos para el hogar    201
Libros                     187
Instrumentos musicales     170
Name: count, dtype: int64

# 3. Calificación promedio de la tienda

In [ ]:
#En este paso, debes calcular las calificaciones promedio de los clientes para cada tienda.
# El objetivo es conocer la satisfacción del cliente con los productos vendidos.

In [ ]:
#Extrayendo calificaciones
calificacion_serie = tienda['Calificación']
calificacion_serie2 = tienda2['Calificación']
calificacion_serie3 = tienda3['Calificación']
calificacion_serie4 = tienda4['Calificación']
#calcular los promedios
calificacion_tienda = calificacion_serie.mean()
calificacion_tienda2 = calificacion_serie2.mean()
calificacion_tienda3 = calificacion_serie3.mean()
calificacion_tienda4 = calificacion_serie4.mean()
#la función mean() nos sirve para calcular los promedios de los valores de un DataFrame o de una Serie
#Imprimiendo promedios por cada tienda redondeado a dos decimales
print(f'Calificación promedio de la tienda 1: {round(calificacion_tienda, 2)}')
print(f'Calificación promedio de la tienda 2: {round(calificacion_tienda2, 2)}')
print(f'Calificación promedio de la tienda 3: {round(calificacion_tienda3, 2)}')
print(f'Calificación promedio de la tienda 4: {round(calificacion_tienda4, 2)}')

Calificación promedio de la tienda 1: 3.98
Calificación promedio de la tienda 2: 4.04
Calificación promedio de la tienda 3: 4.05
Calificación promedio de la tienda 4: 4.0

# 4. Productos más y menos vendidos

In [ ]:
#En este paso, debes identificar qué productos fueron los más vendidos y los menos vendidos en cada tienda.
#Visualiza los resultados para que quede claro qué productos destacaron en ventas en cada tienda.

In [ ]:
#Extrayendo categorias por cada tienda
categoria_serie = tienda['Categoría del Producto']
categoria_serie2 = tienda2['Categoría del Producto']
categoria_serie3 = tienda3['Categoría del Producto']
categoria_serie4 = tienda4['Categoría del Producto']
#agrupando categorias
categoria_tienda = categoria_serie.value_counts()
categoria_tienda2 = categoria_serie2.value_counts()
categoria_tienda3 = categoria_serie3.value_counts()
categoria_tienda4 = categoria_serie4.value_counts()
#guardando el nombre del articulo más vendido y su cantidad
#tienda 1
articulo_mas_vendido = categoria_tienda.idxmax()
cantidad_mas_vendida = categoria_tienda.max()
#tienda 2
articulo_mas_vendido2 = categoria_tienda2.idxmax()
cantidad_mas_vendida2 = categoria_tienda2.max()
#tienda 3
articulo_mas_vendido3 = categoria_tienda3.idxmax()
cantidad_mas_vendida3 = categoria_tienda3.max()
#tienda 4
articulo_mas_vendido4 = categoria_tienda4.idxmax()
cantidad_mas_vendida4 = categoria_tienda4.max()

#La función idxmac() te dice cual id única es el qué más se repite
#La función max() devuelve el valor máximo de una serie o de cada columna de un DataFrame

#guardando el nombre del articulo menos vendido y su cantidad
#tienda 1
articulo_menos_vendido = categoria_tienda.idxmin()
cantidad_menos_vendida = categoria_tienda.min()
#tienda 2
articulo_menos_vendido2 = categoria_tienda2.idxmin()
cantidad_menos_vendida2 = categoria_tienda2.min()
#tienda 3
articulo_menos_vendido3 = categoria_tienda3.idxmin()
cantidad_menos_vendida3 = categoria_tienda3.min()
#tienda 4
articulo_menos_vendido4 = categoria_tienda4.idxmin()
cantidad_menos_vendida4 = categoria_tienda4.min()

#imprimiendo el articulo más vendido y menos vendido por cada tienda
#tienda 1
print(f'El articulo más vendido de la tienda 1 es: {articulo_mas_vendido} con {cantidad_mas_vendida} unidades vendidas')
print(f'El articulo menos vendido de la tienda 1 es: {articulo_menos_vendido} con {cantidad_menos_vendida} unidades vendidas')
#tienda 2
print(f'El articulo más vendido de la tienda 2 es: {articulo_mas_vendido2} con {cantidad_mas_vendida2} unidades vendidas')
print(f'El articulo menos vendido de la tienda 2 es: {articulo_menos_vendido2} con {cantidad_menos_vendida2} unidades vendidas')
#tienda 3
print(f'El articulo más vendido de la tienda 3 es: {articulo_mas_vendido3} con {cantidad_mas_vendida3} unidades vendidas')
print(f'El articulo menos vendido de la tienda 3 es: {articulo_menos_vendido3} con {cantidad_menos_vendida3} unidades vendidas')
#tienda 4
print(f'El articulo más vendido de la tienda 4 es: {articulo_mas_vendido4} con {cantidad_mas_vendida4} unidades vendidas')
print(f'El articulo menos vendido de la tienda 4 es: {articulo_menos_vendido4} con {cantidad_menos_vendida4} unidades vendidas')

El articulo más vendido de la tienda 1 es: Muebles con 465 unidades vendidas
El articulo menos vendido de la tienda 1 es: Artículos para el hogar con 171 unidades vendidas
El articulo más vendido de la tienda 2 es: Muebles con 442 unidades vendidas
El articulo menos vendido de la tienda 2 es: Artículos para el hogar con 181 unidades vendidas
El articulo más vendido de la tienda 3 es: Muebles con 499 unidades vendidas
El articulo menos vendido de la tienda 3 es: Instrumentos musicales con 177 unidades vendidas
El articulo más vendido de la tienda 4 es: Muebles con 480 unidades vendidas
El articulo menos vendido de la tienda 4 es: Instrumentos musicales con 170 unidades vendidas

# 5. Envío promedio por tienda

In [ ]:
#En este paso, debes calcular el costo de envío promedio para cada tienda.
#El objetivo es comprender cuánto se gasta, en promedio, en el envío de cada tienda.

In [3]:
#Extrayendo costos de envío
costo_envio_serie = tienda['Costo de envío']
costo_envio_serie2 = tienda2['Costo de envío']
costo_envio_serie3 = tienda3['Costo de envío']
costo_envio_serie4 = tienda4['Costo de envío']
#calcular los promedios
costo_envio_tienda = costo_envio_serie.mean()
costo_envio_tienda2 = costo_envio_serie2.mean()
costo_envio_tienda3 = costo_envio_serie3.mean()
costo_envio_tienda4 = costo_envio_serie4.mean()
#la función mean() nos sirve para calcular los promedios de los valores de un DataFrame o de una Serie
#Imprimiendo promedios por cada tienda redondeado a dos decimales
print(f'Costo de envio promedio de la tienda 1: {round(costo_envio_tienda, 2)}')
print(f'Costo de envio promedio de la tienda 2: {round(costo_envio_tienda2, 2)}')
print(f'Costo de envio promedio de la tienda 3: {round(costo_envio_tienda3, 2)}')
print(f'Costo de envio promedio de la tienda 4: {round(costo_envio_tienda4, 2)}')

Costo de envio promedio de la tienda 1: 26018.61
Costo de envio promedio de la tienda 2: 25216.24
Costo de envio promedio de la tienda 3: 24805.68
Costo de envio promedio de la tienda 4: 23459.46

# 6. Generando gráficos

In [ ]:
#GRÁFICO DE PASTEL (Proporciones)
# ==========================================
print("\n6. GRÁFICO DE PASTEL - Para mostrar categorias populares")

# Ejemplo: Distribución de ventas por categoría
categorias = ['Electrónicos', 'Ropa', 'Hogar', 'Deportes', 'Otros']
porcentajes = [35, 25, 20, 15, 5]

plt.figure(figsize=(8, 8))
colors = ['#FF9999', '#66B2FF', '#99FF99', '#FFCC99', '#FFB366']
wedges, texts, autotexts = plt.pie(porcentajes, labels=categorias, autopct='%1.1f%%',
                                   startangle=90, colors=colors, explode=(0.05, 0, 0, 0, 0))

plt.title('Distribución de Ventas por Categoría', fontsize=16, fontweight='bold')
plt.axis('equal')  # Para que sea un círculo perfecto
plt.tight_layout()
plt.show()